*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
body{
    border: 2px solid black;
}
.Headersection{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    border-radius: 2px solid black;
    color: white;

}
.center ul li{
    list-style: none;
    display:inline-flex;
    margin: 0px 5px;
    gap: 20px;
}
.title{
    font-size: 1.3rem;
}
.left{
    flex: 2;
}
.center{
    flex: 2;
}
.search{
    flex: 2;
}
.search input{
        width: 20rem;
        padding: 10px;
}
.right{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.cart{
    padding-right: 30px;
}
.bannerBox img{
    padding-top: 20px;
    width: 100%;
}
.menImages{
    display: flex;
}
.menImages img{
    width: 230px;
    height: 230px;
    margin: 10px;
}